body {
  background: url(./pictures/background.jpg);
  background-size: cover;
}

main {
  position: absolute;
  width: 800px;
  height: 600px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#logo {
  width: 330px;
  display: block;
  margin: auto;
  padding: 10px;
}

#container {
  width: 450px;
  margin: auto;
  font-size: 0px;
  border: solid 7px black;
  border-radius: 11px;
  background-image: url(./pictures/snake.jpg);
  background-size: cover;
  position: relative;
}

#container div{
  width: 45px;
  height: 45px;
  display: inline-block;
  border: solid 1px gray;
  box-sizing: border-box;
}

#container .snake {
  background-image: url(./pictures/snakebody.png);
  background-size: cover;
}

#container .snakehead {
  background-size: cover;
}

#container .fruit {
  background-image: url(./pictures/fruit.png);
  background-size: cover;
}

#tips {
  margin: 0;
  padding: 10px;
  font-family: Comic Sans MS;
  text-align: center;
  color: #FFF;
  font-size: 22px;
}

#score {
  position: absolute;
  right: -390px; 
  left: 445px;
  top: -150px;
  margin: 0;
  padding-top: 15px;
  font-family: Comic Sans MS;
  color: #FFF;
  text-align: center;
  font-size: 50px;
}

#gameover {
  position: absolute;
  right: -390px;
  left: 495px;
  top: 10px; 
  font-family: Comic Sans MS;
  color: #FFF;
  text-align: center;
  font-size: 50px;
}

#start {
  background-color: #A4CC00;
  width: 130px;
  height: 60px;
  font-size: 35px;
  font-family: Comic Sans MS;
  color: #FFF;
  position: absolute;
  right: -250px;
  top: 250px; 
  border-radius: 10px;
  text-shadow: 3px 3px 3px gray;
}

#start:hover {
  width: 140px;
  height: 70px;
  font-size: 45px;
  color: red;
  position: absolute;
  right: -255px;
  top: 245px; 
  text-shadow: 1px 1px 1px gray;
  cursor: pointer;
}

#start:focus{
  outline: 0;
}